/*
Theme Name: wthemes
Author: Malana.satu
Author URI: http://localhost:8888/wordpress/
Description: Tema Pertama
License: http://localhost:8888/wordpress/
License URI: http://localhost:8888/wordpress/
Tags: two-columns
Theme URI: http://wordpress.org/themes
*/

.wp-caption {
	max-width: 100%;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 24px;
}

.single-author .entry-meta .author,
.sticky.format-standard .entry-meta .date,
.sticky.format-audio .entry-meta .date,
.sticky.format-chat .entry-meta .date,
.sticky.format-image .entry-meta .date,
.sticky.format-gallery .entry-meta .date {

}

.bypostauthor{}